div#fieldservice-read td.green {background-color: #4d9379;}
div#fieldservice-read td.orange {background-color: #f47d43;}
div#fieldservice-read td.blue {background-color: #82b5e0;}
div#fieldservice-read td.yellow {background-color: #ffd602;}
div#fieldservice-read td.red {background-color: #e66665;}